[user]
	name = Caio Almeida
	email = caio.almeida@outlook.com
[color]
	ui = auto
[merge]
  tool = vim
[diff]
  tool = vimdiff
[dude]
	interval = 60
[alias]
  hist = log --graph --pretty=\"format:%C(yellow)%h%Cblue%d%Creset %s %C(white) %an, %ar%Creset\" --all
  st = status
  s = status -s
  amend = commit --amend
  a = add
  co = checkout
  ci = commit -m
  dc = diff --cached
  di = diff
  b = branch
  ap = add --patch
  sm = submodule
  rb = rebase
  l = log --pretty=\"format:%C(yellow)%h%Cblue%d%Creset %s %C(white) %an, %ar%Creset\" --all
[push]
	default = matching
[http]
	proxy = http://spoflpxy0003.indusval.com.br:8080
[https]
	proxy = http://spoflpxy0003.indusval.com.br:8080
